/* The wrapper */
#darknes-wrapper {
    float: left;
    background-color: #fff;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
}
/* This is for ALL headers on h1 */
h1 {
    text-align: center;
}
#combat-body {
    background-color: darkred;
    font-family: sans-serif;
}
/* This is for the footer. */
#darknes-footer {
    background-color: darkblue;
    color: #fff;
    margin-top: 10px;
    border-color:azure;
    border-style: solid;
    border-radius: 20px;
}
#darknes-footer p {
    text-align: center;
    margin: 10px;
}
/* This is for the main article. */
#darknes-main {
    border-color: darkorange;
    background-color: #eee;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#darknes-main p {
    margin: 10px;
    text-align: justify;
}
/* This is for the news. */
#darknes-news {
    border-color: deepskyblue;
    background-color: lightgreen;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#darknes-news p {
    margin: 10px;
    text-align: justify;
}
/* This is for the navigation bar. */
#darknes-navbar {
    z-index: 2;
}
#darknes-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#darknes-navbar li {
    float: left;
}

#darknes-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#darknes-navbar li a:hover:not(.active) {
    background-color: lightgreen;
}
#darknes-navbar li .active {
    background-color: darkgreen;
}