#darknes-wrapper {
    float: left;
    margin-left: 60px;
    background-color: #fff;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
}
h1 {
    text-align: center;
}
#darknes-news {
    float: right;
    margin-right: 60px;
    background-color: azure;
    border-color: darkgreen;
    border-style:solid;
    border-radius: 20px;
    border-width: 5px;
}
#combat-body {
    background-color: darkred;
    font-family: sans-serif;
}
#darknes-footer {
    text-align: center;
    background-color: darkblue;
    color: #fff;
    margin-left: 60px;
    margin-right: 70px;
    margin-top: 10px;
    border-color:azure;
    border-style: solid;
    border-radius: 20px;
}
p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#darknes-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#darknes-navbar li {
    float: left;
}

#darknes-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#darknes-navbar li a:hover:not(.active) {
    background-color: crimson;
}
#darknes-navbar li .active {
    background-color: darkgreen;
}